.header {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 35px 122px 0 122px;
}

/* MENU */
.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 135px;
}

.header__nav {
  margin-right: 40px;
}

.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
  color: var(--text-first-color);
  font-size: 14px;
  line-height: 20px;
}

.header__nav-item {
  cursor: pointer;
}

/* CONTENT */
.header__content {
  width: 650px;
}

.header__title {
  font-size: 64px;
  line-height: 82px;
  color: var(--text-first-color);
  margin-bottom: 20px;
}

.header__description {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 50px;
  color: var(--text-first-color);
  letter-spacing: 0.2px;
}

/* SUBSCRIBE */
.header__subscribe {
  display: flex;
  align-items: center;
  width: 502px;
  background: #fff;
  border-radius: 8px;
  padding: 6px;
}

.header__subscribe-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 11px 26px;
  font-size: 16px;
  line-height: 36px;
  color: #555;
}

.header__subscribe-btn {
  display: flex;
  width: 136px;
  padding: 19px 38px;
  transition: 0.25s;
}

.header__subscribe-btn:hover {
  background: var(--button-hover);
}

@media (min-width: 575px) and (max-width: 1024px) {
  .header {
    padding: 45px 40px 127px 84px;
    height: auto;
  }

  .header__menu {
    margin-bottom: 96px;
  }

  .header__nav-list {
    gap: clamp(10px, 3vw, 40px);
    font-size: clamp(10px, 2vw, 14px);
  }

  .header__title {
    font-size: 56px;
    line-height: 73.5px;
    width: 100%;
  }

  .header__content {
    width: 100%;
    max-width: 575px;
  }

  .header__description {
    font-size: 16px;
  }

  .header__subscribe {
    width: 422px;
  }
}

@media (min-width: 375px) and (max-width: 575px) {
  .header {
    padding: 39px 20px 84.15px 20px;
    height: auto;
  }

  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;
  }

  .header__nav {
    display: none;
  }

  .header__title {
    font-size: 42px;
    line-height: 57.5px;
    width: 100%;
    text-align: center;
  }

  .header__content {
    width: 100%;
  }

  .header__description {
    font-size: 12px;
    line-height: 23px;
    text-align: center;
  }

  .header__subscribe {
    width: 100%;
  }

  .header__subscribe-btn {
    font-size: 14px;
    padding: 16px 18px;
    width: 96px;
  }

  .header__subscribe-input {
    font-size: 14px;
    padding-left: 21.35px;
  }

  /* Скрытый checkbox */
  .burger-toggle {
    display: none;
  }

  /* BURGER */
  .burger {
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 200;
  }

  .burger__line {
    width: 100%;
    height: 2px;
    background: var(--color-line-burger);
    transition: 0.3s;
  }

  /* АНИМАЦИЯ БУРГЕРА ЧЕРЕЗ CHECKBOX */
  .burger-toggle:checked + .burger .burger__line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .burger-toggle:checked + .burger .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger-toggle:checked + .burger .burger__line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  /* MOBILE MENU */
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    max-width: 320px;
    height: 100vh;
    background: white;
    padding: 40px 20px;
    transition: 0.35s;
    z-index: 150;
  }

  /* ПОКАЗ МЕНЮ */
  .burger-toggle:checked ~ .mobile-menu {
    right: 0;
  }

  .mobile-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .mobile-menu__item {
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .burger {
    display: flex;
  }
}

@media (min-width: 576px) {
  .mobile-menu {
    display: none !important;
  }

  .burger {
    display: none;
  }

  .burger-toggle {
    display: none;
  }
}
