.partners {
  background-color: var(--second-bg-color);
}

.partners__text {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 48px;
}

.partners__title {
  font-size: 48px;
  line-height: 64px;
  font-weight: 900;
}

.partners__description {
  font-size: 18px;
  line-height: 32px;
  margin-top: 5px;
}

.partners__logo {
  width: 100%;
  max-width: 946px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 48px);
  gap: 20px;
}

.partners__logo__1 {
  grid-row: 3 / 5;
  grid-column: 1 / 2;
}

.partners__logo__2 {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.partners__logo__3 {
  grid-row: 4 / 6;
  grid-column: 2 / 3;
}

.partners__logo__4 {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}
.partners__logo__5 {
  grid-row: 3 / 5;
  grid-column: 3 / 4;
}
.partners__logo__6 {
  grid-row: 5 / 7;
  grid-column: 3 / 4;
}

.partners__logo__7 {
  grid-row: 2 / 4;
  grid-column: 4 / 5;
}
.partners__logo__8 {
  grid-row: 4 / 6;
  grid-column: 4 / 5;
}

.partners__logo__9 {
  grid-row: 3 / 5;
  grid-column: 5 / 6;
}
