.promo {
  padding: 120px 0 140px;
}

.promo__content {
  max-width: 1153px;
  width: 100%;
  margin: 0 auto;
}

.promo__text {
  max-width: 994px;
  width: 100%;
  margin: 0 auto;
}
.promo__title {
  font-size: 36px;
  text-align: center;
}

.promo__description {
  font-size: 24px;
  line-height: 39.5px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 30px;
}
.promo__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 116px;
  padding-top: 90px;
  row-gap: 83px;
}

.promo__blocks_content {
  text-align: center;
  max-width: 316px;
  width: 100%;
  margin: 0 auto;
}

.promo__blocks_title {
  font-size: 24px;
  padding-top: 10px;
}

.promo__blocks_description {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  padding-top: 10px;
}

@media (min-width: 575px) and (max-width: 1024px) {
  .promo {
    padding-bottom: 130px;
  }

  .promo__content {
    max-width: 764px;
    width: 100%;
    margin: 0 auto;
  }

  .promo__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 88px;
  }

  .promo__description {
    margin: 30px auto 0;
    width: clamp(575px, 90%, 852px);
  }
}

@media (min-width: 375px) and (max-width: 575px) {
  .promo {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .promo__blocks {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
    justify-items: center;
  }

  .promo__title {
    font-size: 24px;
    text-align: center;
  }

  .promo__description {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 15px auto 0;
    width: clamp(334px, 90%, 575px);
  }
}
