:root {
  --text-first-color: #000;
  --text-second-color: #fff;
  --text-third-color: #808080;
  --button-color: #f84646;
  --text-button-color: #fff;
  --main-bg: #f8464a;
  --second-bg-color: #f4f5f7;
  --button-hover: #cc4741;
  --input-bg-color: #fff;
  --color-line-burger: #000;
  --text-footer-menu: #e6e6e6;
}
